[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"

[packages]
ply = "3.11"
six = "*"
click = "*"
numpy = "*"
netcdf4 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
