[tool.black]
line-length = 120
target-version = ['py38']

[tool.poetry]
name = "mpilot"
version = "1.0.0b6"
description = "MPilot is a plugin-based, environmental modeling framework"
authors = ["Conservation Biology Institute"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/consbio/mpilot"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 2",
    "Programming Language :: Python :: 3"
]
packages = [
    { include = "mpilot"}
]

[tool.poetry.dependencies]
python = "~2.7 || >=3.6"
ply = "^3.11"
six = "^1.15.0"
click = "^7.1.2"
numpy = [
    { version = "^1.19.4", python = ">=3.6" },
    { version = "^1.16.6", python = "~2.7" }
]
netCDF4 = { version = "~1.4.3.2", optional = true }

[tool.poetry.dev-dependencies]
pytest = [
    { version = "^6.1.2", python = ">=3.6" },
    { version = "^4.6.11", python = "~2.7" }
]
black = { version = "^20.8b1", python = ">=3.6" }
mock = { version = "^3.0.5", python = "~2.7" }
setuptools = { version = "^44.1.1", python = "~2.7" }

[tool.poetry.extras]
netcdf = ["netCDF4"]

[tool.poetry.scripts]
mpilot = 'mpilot.cli.mpilot:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

